*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0F8FF;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkolivegreen;
    margin-top: 2%;
    text-align: center;
}

input, textarea{
    font-size: 1em;
    border-radius: 5px;
}

.formulario input, .formulario textarea{
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.agradecimento{
    margin-top: 250px;  
}
